
{# extends 구문을 사용#}
{% extends 'base.html' %}       {#base.html 에서 했던 뼈대 이름으로 하여금 #}


{% block content %}
{#제목#}
    <div class="text-center mw-500 m-auto">   {#부트스트랩에서 제공하는 텍스트 중앙 정렬 #}
        {# base.css 파일에서 mw-500 을 불러옴, m-auto : 부트스트랩안에있는 자동정렬 #}
        <div class="m-5">       {# 상하좌우 마진 5만큼 추가 #}
            <h4>{{ target_user.username }} </h4>     {#보고자하는 계정의 아이디를 보고싶음#}
        </div>
        <div>
            {{ target_user.date_joined }}       {# date_joined : 언제 가입했는지 #}
        </div>
        <div>
            <a href="{%  url 'accountapp:update' pk=target_user.pk  %}">
                Update Info
            </a>
        </div>
    </div>


{%  endblock %}