
{# extends 구문을 사용#}
{% extends 'base.html' %}       {#base.html 에서 했던 뼈대 이름으로 하여금 #}


{% block content %}
{#제목#}
    <div class="text-center mw-500 m-auto">   {#부트스트랩에서 제공하는 텍스트 중앙 정렬 #}
        {# base.css 파일에서 mw-500 을 불러옴, m-auto : 부트스트랩안에있는 자동정렬 #}
        <div class="m-5">       {# 상하좌우 마진 5만큼 추가 #}
            {% if target_user.profile %}
            {# 프로파일 존재하는지 #}
            {# 여기서 profile은 model.py의 related_name에서 지정한 이름을 따서옴 #}

                <img src="{{ target_user.profile.image.url }}"
                     class="profile_image m-4"  {# 클래스 이름 생성 #}
                     alt="profile image">
                {# 이미지 url을 따옴 , 만약 이미지가 없을 시 profile image 텍스트를 출력함함#}

               <h2 class="NNS_B">
                   {{ target_user.profile.nickname }} {# 존재한다면 보고자하는 계정의 아이디를 보고싶음#}
                        {% if target_user == user %}    {# 로그아웃 시 안보이도록 하게끔 하는 것 #}
                            <a href="{% url 'profileapp:update' pk=target_user.profile.pk %}"
                                class="material-icons round_button">
                                edit
                            </a>
                            {# 이파일 자체가 어카운트앱 파일이므로 그걸 먼저 쓰고 profile 을 연계해야함함 #}
                        {% endif %}
              </h2>

                <h5> {{ target_user.profile.message }}</h5>
                {#  메세지까지 출력 #}


            {% else %}
            <h2>
                <a href="{% url 'profileapp:create' %}">
                    Create Profile
                </a>

            </h2>
            {% endif %}

        </div>
{#        <div>#}
{#            {{ target_user.date_joined }}       {# date_joined : 언제 가입했는지 #}
{#        </div>#}

        {% if user == target_user %}
        {# 동일 인물 일 경우 업데이트와 delete 할 수 있도록 #}
        {#  로그아웃 된 상태 면 볼 수 없게 만듬 #}

        <div>
            <a href="{%  url 'accountapp:update' pk=target_user.pk  %}"
            class ="material-icons round_button mx-1">  {# mx-1 : 간격 #}
                settings
            </a>

            <a href="{%  url 'accountapp:delete' pk=target_user.pk  %}"
            class ="material-icons round_button mx-1">
                close
            </a>
        </div>
        {% endif %}
    </div>
    <div>
        {% include 'snippet/list_fragment.html' with article_list=object_list %}
    </div>


{%  endblock %}