{% load bootstrap4 %}
{# 부트스트랩을 회원가입 창에다 쓰겠다는 이야기 #}

    <div class="text-center mw-500 m-auto">   {#부트스트랩에서 제공하는 텍스트 중앙 정렬 #}
        {# base.css 파일에서 mw-500 을 불러옴, m-auto : 부트스트랩안에있는 자동정렬 #}
        <div class="m-5">       {# 상하좌우 마진 5만큼 추가 #}
            <h4> Create Comment</h4>           {#제목#}
        </div>
        <div>
{# 'popo:create'라는 말은 popo-urls의 'appname : name'를 이용하여 역추적하는것 이므로 urls 확인!! #}
            <form action="{% url 'commentapp:create' %}" method="post">
                {#어느 주소로 요청을 보낼건지 써야하는데 안쓰고 url 을 씀#}
                {% csrf_token %}
{#                {{ form }}  대신            {# 일반 출력할 때 #} {#양이 많을때 #}
                {% bootstrap_form form %}
                <input type="hidden"
                       name="article_pk"
                       value="{{ target_article.pk }}">


               <div class = 'm-5'>
                   <input type="submit"
                       class="btn btn-dark rounded-pill px-5">
                {#트리거해줄 버튼을 생성 // 부트스트랩에서 서식을 따옴 #}
               </div>
            </form>
        </div>
    </div>
