
{% extends 'base.html'%}
{# 뼈대 html 을 가져옴 #}
{% load static %}
{# static 불러온다는 문구#}


{% block content %}
    <style>
        .container{
            padding: 0;
            margin: 0 auto;
        }
        .container div {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 1rem;
                flex-direction: column;
                {# 아래쪽으로 밑에 제목이 나오도록 // 기본값은 오른쪽임(행 = row )   #}

        }

        .container img{
            width: 7rem;        {# 너비는 다 채우겠다 #}
            height: 7rem;
            object-fit: cover;
            border-radius: 1rem;

        }

    </style>


    <div class="container my-4">        {# my : 마진 상하 #}
       {% for project in project_list %}
          <div>
            <a href="{% url 'projectapp:detail' pk=project.pk %}">
                <img src="{{ project.image.url }}" alt="">
            </a>
          <span class="my-2 NNS_B">{{ project.name | truncatechars:10 }}</span>


          </div>



       {% endfor %}
    </div>

    <script src="{% static 'js/magicgrid.js' %}">    </script>
{# static 안에 있는 자바스크립트 파일 호출 시 #}


    {% include 'snippet/pagination.html' %}

    <div class="text-center my-5">
        <a href="{% url 'articleapp:create' %}"
            class="btn btn-outline-dark rounded-pill px-5">
            {#  px-5 : 글씨를 좌우여백 조정 #}
            Create Project
        </a>

    </div>
{% endblock %}