.pragmatic_header_logo{
    margin: 2rem 0;
     font-family: 'Anton', sans-serif;
}
/*  . = 클래스 선언*/

.pragmatic_header_button{
    margin-bottom: 2rem;

}
/* 웹사이트에서 분리적으로 하면 좀더 편하고 일관됨됨*/
.pragmatic_footer_logo{
    margin: 1.5rem 0;
    font-family: 'Anton', sans-serif;
}

.pragmatic_footer_button{
    margin-top: 1.5rem;
}


.mw-500{
    max-width: 500px;
    padding: 1rem 1.5rem;  }   /* 내부 여백 : 상하 좌우*/

.profile_image{
    height: 12rem;
    width : 12rem;
    border-radius: 20rem;
    object-fit: cover;
    /*  이미지가 왜곡되지 않은상태에서 볼 수 있음   */
}

.NNS_B{
    font-family: "NanumSquareB", cursive;
/*   나눔체로 쓰고 안될시  cursive 로 씀*/
}