.pragmatic_header_logo{
    margin: 2rem 0;
     font-family: 'Anton', sans-serif;
}
/*  . = 클래스 선언*/

.pragmatic_header_button{
    margin-bottom: 2rem;

}
/* 웹사이트에서 분리적으로 하면 좀더 편하고 일관됨됨*/
.pragmatic_footer_logo{
    margin: 1.5rem 0;
    font-family: 'Anton', sans-serif;
}

.pragmatic_footer_button{
    margin-top: 1.5rem;
}


.mw-500{
    max-width: 500px;
    padding: 1rem 1.5rem;  }   /* 내부 여백 : 상하 좌우
