<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body style="font-family: 'NanumSquareR'">
{# 모든 웹 화면에서 나눔스퀘어 폰트를 쓰도록#}

{% include 'header.html'  %}        {#  장고가 개입해서 사용하겠다라는 표시#}
<hr>                                {# 구분선 넣기 #}

{% for message in messages %}   {# 장고에서 기존적으로 제공함 #}
    <div class="text-center">
        <div class="btn btn-{{ message.tags }} rounded-pill px-5">
            {{ message }}
        </div>
    </div>
{% endfor %}

{% block content %}                 {# block content 를 선언 #}
{% endblock %}

<hr>

{% include 'footer.html' %}          {# include : 고정적인 것을 html 파일로로대체#}



</body>
</html>