<div style="text-align: center">
    <div>
        <h1 class = "pragmatic_header_logo"> pramatic </h1>     {# 상하만 움직이게 하는 마진 : 상하 rem 좌우 #}
                                                {# 우리가 정한 폰트(Anton)이 안될경우 sans-serif 라는 폰트를 이용 #}

    </div>
    <div class ="pragmatic_header_button">

        <span>nav1</span>                   {#좌우로 나열되게함#}
        <span>nav2</span>


 {# 로그인 여부에따라 로그인이랑 회원가입이 보이고 안보이게 하는법 #}
        {% if not user.is_authenticated %}
        {# 로그인 안되있는 상태라면 /// user: 장고에서 어디서든 사용 ok #}
        <span>
            <a href="{% url 'accountapp:login' %}">
                Login {# 로그인 창으로 이동 #}
            </a>{# 어디로 갈때 쓰는 태그 : a #}
        </span>
        <span>
            <a href="{% url 'accountapp:create' %}">
            Sign up{# 회원가입 창으로 이동 #}
            </a>
        </span>
        </span>

        {% else %}      {# 로그인 한 상태라면면 #}
        <span>
           <a hre="{% url 'accountapp:logout' %}">
                Logout
            </a>

        </span>
        {% endif %}
    </div>

</div>