{%  extends 'base.html' %}



{% block content %}

    <div class="container text-center">
        <div class="my-5">
            {# 게시글 제목, 글쓴이 , 작성일자 #}
            <h1 class="NNS_B"> {{ target_article.title }}</h1>
            <h4> {{ target_article.writer.profile.nickname }}</h4>
            <p> {{ target_article.created_at }}</p>
        </div>

        <hr>        {#  구분선 그리기기 #}

       <div class="my-5">
            {#  게시글 대표이미지, 글 내용 #}
            <img src="{{ target_article.image.url }}"class =article_image
                 alt="">
                {# alt : 옆에 실행이 안되었을 경우 대체 할 것 #}
            <div class="my-5 article_content">
                {{ target_article.content }}
            </div>

           {% if target_article.writer == user %}
               {# 로그인 아닌 사람들은 안보이게끔 함 #}
            <div>
                <a href="{% url 'articleapp:update' pk=target_article.pk %}"
                    class="btn btn-success rounded-pill px-5">
                    Update
                                    {# success :초록색 #}
                </a>
                 <a href="{% url 'articleapp:delete' pk=target_article.pk %}"
                    class="btn btn-danger rounded-pill px-5">
                    Delete

                </a>

            </div>
           {% endif %}
        </div>
            <hr>
        <div>
            {# 댓글 내옹, 작성란 #}
            {% for comment in target_article.comment.all %}
        {# target_article.comment : models.py 에서 외래키로(related name) 만든 이름임(comment)  #}
        {# all : comment 를 모두 가져오기 위함 #}
               <div class="comment_box">
                    <div>
                        {# 유저의 닉네임, 시간정보 #} {# 유저 이름만 폰트체조금 크게 하기 #}
                        <span class="NNS_B" style="font-size: 1.3rem;">
                            {{ comment.writer.profile.nickname }}</span>

                        <span>{{ comment.create_at }}</span>
                    </div>
                    <div>
                        {# 댓글 내용 #}
                        <p>{{ comment.content }}</p>{# p : 글을만들어줄때의 태그 #}
                    </div>
                   {% if comment.writer == user %}
                    <div style="text-align: right">
                        <a href="{% url 'commentapp:delete' pk=comment.pk %}"
                           class="btn btn-danger rounded-fill px-5">
                            Delete
                        </a>
                    </div>
                   {% endif %}{# 로그아웃상태일 시 안나오도록 함 #}
                </div>
            {% endfor %}
            {% include 'commentapp/create.html' %}

        </div>
    </div>


{% endblock %}