{%  extends 'base.html' %}



{% block content %}

    <div class="container text-center">
        <div class="my-5">
            {# 게시글 제목, 글쓴이 , 작성일자 #}
            <h1 class="NNS_B"> {{ target_article.title }}</h1>
            <h4> {{ target_article.writer.profile.nickname }}</h4>
            <p> {{ target_article.created_at }}</p>
        </div>

        <hr>        {#  구분선 그리기기 #}

       <div class="my-5">
            {#  게시글 대표이미지, 글 내용 #}
            <img src="{{ target_article.image.url }}"class =article_image
                 alt="">
                {# alt : 옆에 실행이 안되었을 경우 대체 할 것 #}
            <div class="my-5 article_content">
                {{ target_article.content }}
            </div>

           {% if target_article.writer == user %}
               {# 로그인 아닌 사람들은 안보이게끔 함 #}
            <div>
                <a href="{% url 'articleapp:update' pk=target_article.pk %}"
                    class="btn btn-success rounded-pill px-5">
                    Update
                                    {# success :초록색 #}
                </a>
                 <a href="{% url 'articleapp:delete' pk=target_article.pk %}"
                    class="btn btn-danger rounded-pill px-5">
                    Delete

                </a>

            </div>
           {% endif %}
        </div>
            <hr>
        <div>
            {# 댓글 내옹, 작성란 #}

        </div>
    </div>


{% endblock %}