
{% extends 'base.html'%}
{# 뼈대 html 을 가져옴 #}
{% load static %}
{# static 불러온다는 문구#}


{% block content %}
    <style>
        .container div {
          width: 280px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 1rem;
                flex-direction: column;
                {# 아래쪽으로 밑에 제목이 나오도록 // 기본값은 오른쪽임(행 = row )   #}
          box-shadow: 0 0 1rem #7b2727;
        }

        .container img{
            width: 100%;        {# 너비는 다 채우겠다 #}
            border-radius: 1rem;

        }

    </style>


    <div class="container my-4">        {# my : 마진 상하 #}
       {% for article in article_list %}
          <div>
            <a href="{% url 'articleapp:detail' pk=article.pk %}">
                <img src="{{ article.image.url }}" alt="">
            </a>
          <span class="my-2 NNS_B">{{ article.title }}</span>


          </div>



       {% endfor %}
    </div>

    <script src="{% static 'js/magicgrid.js' %}">    </script>
{# static 안에 있는 자바스크립트 파일 호출 시 #}


    {% include 'snippet/pagination.html' %}

{% endblock %}